::-ms-clear {
  display: none;
}
.forms select {
  padding-left: 5px;
  padding-right: 5px;
}
.forms .mb-0 {
  margin-bottom: 0;
}
.forms .mt-50 {
  margin-top: 50px;
}
.forms .pr-0 {
  padding-right: 0;
}
.forms .pr-5 {
  padding-right: 5px;
}
.forms .pl-0 {
  padding-left: 0;
}
.forms .cebrado {
  margin-left: 0;
  padding: 4px 0;
  background-color: #f2f2f2;
}
.forms .listado {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 440px;
}
.forms .listado .table {
  margin: 0;
}
.forms .listado .table .tac {
  text-align: center;
}
.forms .listado .table span {
  cursor: pointer;
}
.forms .listado .table .sin-seleccion {
  font-style: italic;
  color: #999999;
}
.forms .radio + .radio {
  margin-top: 10px;
}